.divclass{
    overflow: hidden;
    background-color: rgb(130, 202, 123);
    position: fixed ;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

/* @media(max-width:741px){
    .expand_div{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
} */




.divclass a{
    display: block;
    text-decoration-style:none;
    color: white;
    float: left;
    padding: 14px 16px;
    font-size: 1.1rem;
}

.divclass a:hover{
    /* text-decoration-style: none; */
    background-color: black;
    color: white;
    text-decoration:none ;
}

.divclass a.active{
    background-color: rgb(71, 73, 72);
}

#name{
    float: right;
}


.shadow{
    box-shadow: 10px 5px 5px grey;   
    width: 100%;
    opacity: 0.7;
}

.anim_typewriter{

    overflow: hidden;
    font-family: monospace;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    margin-top: 20px;

    animation: 
    typing 3s infinite,
    blink-caret .75s step-end infinite;
    
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.column {
    /* height: 16vw; */
    float: left;
    width: 33%;
    
    /* padding-top: 30px; */
}

.row {
    /* margin-top: auto; */
    content: "";
    clear: both;
    display: table;
    /* height: 40%; */
}


.divcenter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.div1{
    background-color: gray;
    color: white;
    padding: 20px;
}

.heading1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.link_style{
    font-size: 1.2rem;
    text-decoration-style: none;

   
}

.link_style:hover{
    color: black;
}

.fa-facebook{
    color: white;

}

.fa-twitter{
    color: white;
}

.fa-instagram{
    color: white;
}

.fa-github{
    color:white;
}

.fa-envelope{
    color: white;
}

.contact-class{
    background-color: black;
    padding: 70px;
}


.fa{
    font-size: 25px;
}

.fa:hover{
    text-decoration: none;
    color: rgb(20, 166, 250);
    
}

.img_hover:hover{
    opacity: 0.7;
}

.img_small{
 max-width: 500px;
 
}

.column2{
    width: auto;
}


.card{
    padding: 10px;
    margin: auto;
    width:30vw;
    /* height: 25vw; */
}

/* .card-cover img{
    object-fit: cover;
} */

.card2 img {
    width: 30vw;
    /* height: 32vw; */
}

